/* Header css start*/

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.pageContainer{
    position: relative;
    min-height: 100vh;
}

.contentContainer{
    min-height: 29vh;
}

/*Layout*/
.container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 160px;
    background: darkblue;
}

.upper{
    border-bottom: solid grey 1px;
}

.upper, .lower {
    margin: auto;
    max-width:1346px;
    height: 80px;
    /*border: solid 3px blue;*/
}
/*Logo*/
.logo {
    max-width: 150px;
    padding-top: 7px;
}

.logo > a {
    color: white;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Copperplate Gothic';
}

.logo > a:hover {
    text-decoration: none;
    color: antiquewhite;
}
/*searchBar*/
.searchBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 50px;
    margin: auto;
    max-width: 99%;
    padding-left: 15px;
}

form.searchBar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 91.5%;
    background: #f1f1f1;
}

form.searchBar button {
    float: left;
    width: 48px;
    padding: 10px;
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 47px;
}

form.searchBar button:hover {
    background: #0b7dda;
}

/*contact button*/
.navbar-contact-button {
    padding-top: 15px;
    height: 64px;
}

.contact-button {
    float: right;
    padding: 10px;
    background: #2196F3;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid grey;
    cursor: pointer;
    width: 115px;
    height: 47px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 3px;
}

.button-span{
    color: white;
}


/*Nav row*/
.main-nav {
    padding-top: 12px;
    height: 81px;
}

.secondary-nav {
    padding-top: 12px;
    height: 81px;
}

.ul-nav {
    list-style-type: none;
    overflow: hidden;
    height: 59px;
    padding-left: 0px;
}

.ul-nav > li {
    float: left;
}

.ul-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.first-li > a {
    padding-left: 0px;
}

.ul-nav > li > a:hover {
    color: antiquewhite;
    text-decoration: none;
}

.secondary-ul-nav{
    float: right;
}

/*Footer*/

.borderTest{
    /*border: 3px solid red;*/
    height: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 508px;
}

.footer-container{
    padding-top: 20px;
    padding-bottom: 10px;
    background: lightgray;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    max-width: 90%;
}

.title{
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 26px;
}

.contactNumber{
    font-weight: bold;
}

.contactMail{
    text-decoration: underline !important;
    color: black !important;
}

.searchWithLinks {
    height: 100%;
    max-width: 410px;
    margin: auto;
}

.navbarSearchFooter{
    height: 60px;
}

.searchBarFooter {
    max-width: 410px;
    top: 75px;
    padding-left: 0;

}

form.searchBarFooter input[type=text]{
    width: 80%;
}

form.searchBarFooter button {
    height: 48px;
}

.navFooter{
    margin-top: 8px;
}

.footerUl{
    display: flex;
    flex-wrap: wrap;
    padding-left: 19px;
    list-style-type: none;
}

.footerUl > li{
    text-indent: -17px;
    width: 180px;
}

.footerUl > li:before{
    content: "-";
    text-indent: -5px;
    color: grey;
}

.footerUl > li > a{
    color: black;
    text-decoration: underline;
}

.footerUl > li > a:hover{
    text-decoration: none;
}

.footerUl > li:hover::before {
    color: black;
}

.titleDiv{
    padding-left: 0px;
}

.openTimeDiv {
    border-bottom: grey 2px solid;
}

.divP {
    padding: 0px;
    display: flex;
    align-items: center;
}

.divP > p {
    margin-bottom: 7px;
    margin-top: 7px;
    width: 50%;
}

.inner{
    width: 250px;
    margin: auto;
}

.rightP{
    text-align: right;
    font-weight: bold;
}

/*Social media row*/

.innerSocial{
    margin-top: 50px;
}

.socialNav > ul {
    padding: 0;
    padding-top: 10px;
}

.socialNav > ul > li{
    display: inline;
    padding-right: 5px;
    padding-bottom: 5px;
}

.socialNav > ul > li > a{
    text-decoration: none;
}

.socialImg {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    opacity: 1;
    transition: .5s ease;
}

.socialImg:hover{
    opacity: 0.5;
}

/*copyright row*/

.copyRightRow{
    max-width: 90%;
    margin: auto;
}

.copyRightFooterUl {
    
    padding-left: 0px;
    padding-top: 100px;
    list-style-type: none;
}

.copyRightFooterUl > li {
    float: left;
    padding-right: 10px;
}

.madeBy{
    float: right !important;
}