@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<link rel="stylesheet" href="/css/HomePage.css" />

<main class="main-content">
	<section class="gif">
		<div class="gif-inner">
			<div class="gif-container">
				<div class="row gif-row">

					<div class="gif-top-div col-12 no-padding">
						<p class="gif-top-p">— Lismore Theme Design</p>
					</div>

					<h1 class="gif-title">Make it your own</h1>

					<div class="col-12 no-padding">
						<p class="gif-bottom">Lorem ipsum dolor sit amet.</p>
						<a class="gif-button contact-button">
							<span class="button-span">Learn more</span>
						</a>
					</div>
				</div>

				<div class="gif-scroll">
						<a class="gif-scroll-a" href="#">
							<i class="fas fa-chevron-down gif-fa-chevron-down"></i>
						</a>
				</div>

			</div>
		</div>
	</section>
	<section class="logo-section">
		<div class="logo-inner">
			<div class="logo-container">
				<div class="row logo-row">
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/PizzaHut.png" />
					</div>
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/KPMG.png" />
					</div>
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/Fox.png" />
					</div>
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/Sound.png" />
					</div>
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/NHS.png" />
					</div>
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/UEFA.png" />
					</div>
					<div class="col-12 max-width">
						<img class="logo-img" src="/images/Coop.png" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
</main>