@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>STMO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/Master.css" />
	</head>
	
	<body>
	   <div class="pageContainer">

		<!-- Header -->
		<header>
			<div class="container">
				<div class="upper row">
					<div class="col logo">
						<a href="/"> <span>STMO</span> </a>
					</div>
					<div class="col navbar-search">
						<form class="searchBar">
							<input class="searchText" type="text" placeholder="Search the site" name="search" />
							<button class="search-button fa fa-search" type="submit"></button>
						</form>
					</div>
					<div class="col- navbar-contact-button">
						<a class="contact-button">
							<span class="button-span">Contact</span>
						</a>
					</div>
				</div>

			    <div class="lower row">
					<div class="col-7 main-nav">
						<ul class="ul-nav">
							 <li class="first-li"><a href="#">About
								 <i class="fas fa-chevron-down"></i>
							 </a></li>
							 <li><a href="#">Gallery</a></li>
							 <li><a href="#">Shop</a></li>
							 <li><a href="#">Blog</a></li>
						</ul>
					</div>
					<div class="col-5 secondary-nav">
						<ul class="ul-nav secondary-ul-nav">
							 <li><a href="#">Sitemap</a></li>
							 <li><a href="#">Members
								 <i class="fas fa-chevron-down"></i>
							 </a></li>
							 <li><a href="#">English
								 <i class="fas fa-chevron-down"></i>
							 </a></li>
						</ul>
					</div>
			    </div>
			</div>
		</header>
		
		<div class="contentContainer">
			@RenderBody()
		</div>

	<!-- Footer -->
		<footer>
			<div class="container footer-container">
				<div class="row footer-row">
					<div class="borderTest col-lg-3 col-md-6 col-12 col">
						<div class="contactInfo">
							<p class="title">uSkinned</p>
							<p>
								Studio 119 South Block
								<br />
								60 Osborne Street
								<br />
								Glasgow G1 5QH
							</p>
							<p class="contactNumber">000-000-000</p>
							<p>
								<a class="contactMail" href="mailto:mail@example.com">mail@example.com</a>
							</p>
						</div>
					</div>
					<div class="borderTest col-lg-5 col-md-6 col-12 col">
						<div class="searchWithLinks">
							<p class="title">Search with links</p>
							<div class="navbar-search navbarSearchFooter">
								<form class="searchBar searchBarFooter">
									<input class="searchText" type="text" placeholder="Search the site" name="search" />
									<button class="search-button fa fa-search" type="submit"></button>
								</form>
							</div>
							<nav class="navFooter">
								<ul class="footerUl">
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Gallery</a>
									</li>
									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
									<li>
										<a href="#">Shop</a>
									</li>
									<li>
										<a href="#">Full Feature Index</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="borderTest col-lg-4 col-md-6 col-12 col">
						<div class="row inner">
							<div class="col-12 titleDiv">
								<p class="title">Opening times</p>
							</div>
							<div class="col-12 openTimeDiv divP">
								<p>Mon — Fri</p>
								<p class="rightP">@Model.Value("monFri")</p>
							</div>
							<div class="col-12 openTimeDiv divP">
								<p>Saturday</p>
								<p class="rightP">@Model.Value("saturday")</p>
							</div>
							<div class="col-12 divP">
								<p>Sunday</p>
								<p class="rightP">@Model.Value("sunday")</p>
							</div>
						</div>
					</div>
					<div class="borderTest col-lg-12 col-md-6 col-12 col">
						<div class="innerSocial">
							<p class="title">Social</p>
							<nav class="socialNav">
								<ul>
									<li>
										<a href="https://flickr.com" target="_blank">
											<img class="socialImg" src="/images/Flickr.png" />
										</a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank">
											<img class="socialImg" src="/images/instagram.png" />
										</a>
									</li>
									<li>
										<a href="https://linkedin.com" target="_blank">
											<img class="socialImg" src="/images/LinkedIn.png" />
										</a>
									</li>
									<li>
										<a href="https://pinterest.com" target="_blank">
											<img class="socialImg" src="/images/Pinterest.png" />
										</a>
									</li>
									<li>
										<a href="https://soundcloud.com" target="_blank">
											<img class="socialImg" src="/images/SoundCloud.png" />
										</a>
									</li>
									<li>
										<a href="https://tripadvisor.com" target="_blank">
											<img class="socialImg" src="/images/TripAdvisor.png" />
										</a>
									</li>
									<li>
										<a href="https://tumblr.com" target="_blank">
											<img class="socialImg" src="/images/Tumblr.png" />
										</a>
									</li>
									<li>
										<a href="https://twitter.com" target="_blank">
											<img class="socialImg" src="/images/Twitter.png" />
										</a>
									</li>
									<li>
										<a href="https://vimeo.com" target="_blank">
											<img class="socialImg" src="/images/Vimeo.png" />
										</a>
									</li>
									<li>
										<a href="https://youtube.com" target="_blank">
											<img class="socialImg" src="/images/Youtube.png" />
										</a>
									</li>
									<li>
										<a href="https://behance.net" target="_blank">
											<img class="socialImg" src="/images/Behance.png" />
										</a>
									</li>
									<li>
										<a href="https://facebook.com" target="_blank">
											<img class="socialImg" src="/images/Facebook.png" />
										</a>
									</li>
									<li>
										<a href="https://rss.com" target="_blank">
											<img class="socialImg" src="/images/RSS.png" />
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="row copyRightRow">
					<div class="col-12">
						<nav>
							<ul class="copyRightFooterUl">
								<li>
									<span>&copy; 2022</span>
								</li>
								<li>
									<a href="#">Terms & Conditions</a>
								</li>
								<li>
									<a href="#">Privacy Policy</a>
								</li>
								<li>
									<a href="#">Sitemap</a>
								</li>
								<li class="madeBy">
									<span>Made without <a href="http://www.uskinned.net/" target="_blank">uSkinned</a></span>
								</li>
							</ul>
						</nav>
					</div>

				</div>
			</div>
		</footer>
	  </div>
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/29f89a36f6.js" crossorigin="anonymous"></script>
	
	</body>
</html>